@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .delay-50  { animation-delay: 50ms; }
  .delay-100 { animation-delay: 100ms; }
  .delay-150 { animation-delay: 150ms; }
  .delay-200 { animation-delay: 200ms; }
  .delay-250 { animation-delay: 250ms; }
  .delay-300 { animation-delay: 300ms; }
  .delay-400 { animation-delay: 400ms; }
  .delay-500 { animation-delay: 500ms; }
}
